body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    width: 60vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    
  }
  
  button {
    padding: 10px; 
    
    border: none;
    width:20vh;
    border-radius: 4px;
    background-color: #0d4c8f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin:auto ;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .output {
    margin-top: 20px;
  }
  
  #outputText {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  